html {
    font-family: 'Helvetica', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
   text-align: center;
}
.nav-bar {
    display: flex;
    margin: -1em;
    padding: 2em;
    height: 90px;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    padding-left: 2em;
    padding-right: 10em;
}
.logo h1 {
    font-size: 2em;
    font-weight: bold;
}
#logo-img {
    height: 4em;
    width: 4em;
}
.links a {
    padding: 2em;
    font-size: 1em;
    color: black;
}
.links a:hover {
    color: #4f90cf;
}
.landing {
    display: flex;
    justify-content: center;
    height: 40em;
}
.landing img {
    width: 70em;
    opacity: 0.5;
}
.overlay {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    background: #4f90cf;
    height: 40em;
    opacity: 0.9;
}
.overlay h2 {
    height: 100px;
    padding: 1em;
    width: 300px;
    font-size: 30px;
    border-bottom: solid 1px white;
}
.hidden {
    display: none;
}
.show {
    display: flex;
    justify-content: center;
    font-size: 24px;
    animation: fadeIn 2s;
    padding: 10px;
}
#footer {
    text-align: center;
}
.about-page h1 {
   width: 10em;
}
.about-page section{
    display: flex;
    align-items: center;
    color: #4f90cf;
    padding: 1em;
}
.about-page p {
    width: 400px;
    color: black;
    padding-left: 20em;
}
.about-page {
    display: flex;
    width: 1000px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: #4f90cf;
    padding: 3em;
}
.contact {
    text-align: center;
}
.contact h1 {
    color: #4f90cf;
}
.contact a {
    text-decoration: underline;
}
@keyframes fadeIn{
    0% {
        transform: translateY(100%);
        opacity: 0.3
    }
    60% {

        opacity: 0.7
    }
    100% {
        transform: translateY(0%);
        opacity: 1
    }

}
@media only screen and (max-width: 768px) {
   .logo {
       padding: 1em;
       flex-direction: column;
       justify-content: center;
       margin: -10px;
   }
   #logo-img {
       margin: auto;
   }
    .nav-bar {
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 2em;
       height: 100%;
      
   }
   .landing {
       flex-direction: column;
       width: 100%;
   }
   .overlay {
       opacity: 0.6;
   }

   .landing img {
      opacity: 0.2;
      width: 100%;
      height: 100%;
      border-radius: 10px;
   }
   .about-page {
    width: 50%;
    justify-content: center;
   }
   .about-page section {
       flex-direction: column;
   }
   .about-page h1 {
       margin: -10px;
   }
   .about-page p {
       padding: 10px;
       width: 300px;
       text-align: center;
   }
}